.banner {
    width: 100%;
    margin-inline:auto;
    height: 35em;
    display: flex;
    justify-content:center;
    align-items: center;
    background-image: url('https://st2.depositphotos.com/3300441/11955/i/950/depositphotos_119553844-stock-photo-chinese-food-white-background.jpg');
    background-size: cover;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;

  background-size: 100%, 100%;

  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}
.banner h1 {
    font-size: 100px;
    font-weight: 900;
    color: rgba(16, 16, 16, 0.679);
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}

.about h2 {
    font-size: 40px;
    color: #0aa1dd;
}

.about h5 {
    margin-top: 2em;
    font-size: 20px;
    font-weight: 400;
    padding: 2em 1em;
    border: 1px dashed #0aa1dd;
    border-radius: 12px;
    transition: ease-in 0.2s;
    color: #2155cd;
}

.about h5:hover {
    background-color: #0aa1dd;
    color: #eef2e6;
}
