h1,h5,span{
    font-family: 'Coolvetica';
}

.container {
    padding-top: 26em;
    min-height: 80em;
    /* height: 100em; */
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* width: 100%; */
    margin-inline: auto;

}
.content{
    background-color: rgb(29, 29, 29);
    width: 100%;
}
.center{
    /* position:absolute;
    top:50%;
    left:50%; */
    margin-inline:auto;
    transform:prespective(5em) translate(-50%,-50%);
    transform:skewY(15deg);
    transition:0.5s;
  }
  
  .center:hover{
    transform:prespective(5em) translate(-50%,-50%);
    transform:skewY(0deg);
    cursor: pointer;
  }
  
  .center h1 span{
    position:absolute;
    top:-.75em;
    left:0;
    transform:translate(-50%,-50%);
    margin:0;
    padding:0;
    /* text-transform:uppercase; */
    font-size:15rem;
    font-family: 'Coolvetica';
    color:#fff;
    transform-style:preserve-3d;
    transition:0.8s;
  }
  .center h1 span:nth-child(1){
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  }
  
  
  
  .center h1 span:nth-child(2){
    color:#ffbf10;
    transform:translate(-50%,-50%) skewX(-60deg);
    left:-38px;
    clip-path: polygon(0 45%, 100% 45%, 100% 55%, 0 55%);
  }
  
  .center h1 span:nth-child(3){
    transform:translate(-50%,-50%) skewY(0deg);
    left:-76px;
    clip-path: polygon(0 55%, 100% 55%, 100% 100%, 0 100%);
  }
  .custom-card-text{
    background-size: cover;
    height: 35em;
    
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-end;
    background-position: center;
    width: 100%;
    z-index: -1;
    /* margin: 1em; */
  }
  .center:hover h1 span:nth-child(2), 
  .center:hover h1 span:nth-child(3){
    transform:translate(-50%,-50%) skewX(0deg);
    left:0;
    color:#fff;
  }
  .empty{
    color:#fff;
    padding-top: 2em;
  }
.card {
    /* border-radius: 2em; */
    scale: 1;
    width: 25em;
    /* margin: 1em; */
    margin-top: 4em;
    /* margin: 3em; */
    overflow: hidden;
}
.card:hover .custom-card-text,
.card:focus .custom-card-text {
  transform: scale(1.2);
}
.custom-card-text::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(37, 37, 37, 0.13);
  }
  
  /* .card:hover .custom-card-text:before,
  .card:focus .custom-card-text:before {
    display: block;
  } */
  .card .info{
    /* height: .1em; */
    overflow: visible;
    z-index: 999;
  }
  .card .info h1{
    font-family: 'Coolvetica';
    font-size: 3rem;
    margin-top:-2em;
    padding-left: .25em;
    color: white;
    z-index: 999;
  }
  .card .info span{
    font-family: 'Coolvetica';
    font-size: 1.25rem;
    margin-top:-4em;
    padding-left: .75em;
    color: white;
    z-index: 999;
  }

.container .card img {
    /* border-radius: 2em 2em 0em 0em; */
    margin-bottom: 1em;
    height: auto;
    width: 100%;
}

.custom-card-text {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

a {
    text-decoration: none;
}

.card h5 {
    font-weight: 700;
    font-size: 18px;
    color: rgb(0, 125, 213);
    user-select: none;
    transition: ease-in 0.2s;
}

.card h5:hover {
    color: #1c6758;
}

.card h6,
p {
    font-size: 12px;
}

.top-info {
    display: flex;
    justify-content: space-between;
}

.right {
    text-align: right;
}
